{% extends 'admin.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <h1>{{ book.name }}</h1>
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ book.id }}</td>
                </tr>
                <tr>
                    <th>Sku</th>
                    <td>{{ book.sku }}</td>
                </tr>
                <tr>
                    <th>Thumbnail</th>
                    <td>
                        {% if book.thumbnail %}
                            <img src="{{ asset('admin/uploads/images/' ~ book.thumbnail) }}" alt="Book Thumbnail"
                                 style="max-width: 150px; max-height: 150px;"/>
                        {% else %}
                            <span>No thumbnail available</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ book.name }}</td>
                </tr>
                <tr>
                    <th>Isbn</th>
                    <td>{{ book.isbn }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ book.slug }}</td>
                </tr>
                <tr>
                    <th>ShortDescription</th>
                    <td>{{ book.shortDescription }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ book.description }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ book.price }}</td>
                </tr>
                <tr>
                    <th>Stock</th>
                    <td>{{ book.stock }}</td>
                </tr>
                <tr>
                    <th>IsSaleOff</th>
                    <td>{{ book.isSaleOff }}</td>
                </tr>
                <tr>
                    <th>DiscountType</th>
                    <td>{{ book.discountType }}</td>
                </tr>
                <tr>
                    <th>MarkAsFeature</th>
                    <td>{{ book.markAsFeature }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ book.status }}</td>
                </tr>
                <tr>
                    <th>DiscountValue</th>
                    <td>{{ book.discountValue }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ book.createdAt ? book.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>UpdatedAt</th>
                    <td>{{ book.updatedAt ? book.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-start align-items-center">
                <a class="btn btn-primary mr-2" href="{{ path('admin_book_index') }}"><i
                            class="fa-solid fa-circle-chevron-left me-2"></i>Back To List</a>
                <a class="btn btn-success mx-2" href="{{ path('admin_book_edit', {'id': book.id}) }}"><i
                            class="ti ti-pencil ti-md me-2"></i> Edit</a>

                {{ include('admin/book/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
